<div ng-controller="sidenavCtrl" layout="column" ng-cloak>
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left" md-component-id="sidenav" md-is-locked-open="$mdMedia('gt-md')"
                    md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Marcio Lucas</h1>
            </md-toolbar>
            <md-content>
                <div ui-view="layout@menu"></div>
            </md-content>

        </md-sidenav>
    </section>

</div>
