<div ng-controller="propostaCreateCtrl" layout="column" ng-cloak>
    <span class="md-headline">Enviando uma ideia!</span>
    <md-divider></md-divider>
    <md-content layout-padding="">
        <form name="projectForm">

            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="60">
                    <label>Titulo</label>
                    <input md-maxlength="80" required name="titulo" ng-model="proposta.titulo">
                    <div ng-messages="projectForm.nome.$error">
                        <div ng-message="required">O nome é requirido.</div>
                        <div ng-message="md-maxlength">O nome não pode conter mais que 80 caracteres.</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Breve descrição da ideia</label>
                <textarea  required ng-model="proposta.descricao" md-maxlength="500" rows="5"></textarea>
                <div ng-messages="projectForm.nome.$error">
                    <div ng-message="required">A descrição é requirida.</div>
                    <div ng-message="md-maxlength">A descrição não pode conter mais que 500 caracteres.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <md-checkbox name="tos" ng-model="tos" required>
                    Eu aceito com os termos de serviço.
                </md-checkbox>
                <div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Os termos devem ser aceitos.
                    </div>
                </div>
            </md-input-container>

            <div>
                <md-button ng-disabled="!tos" type="submit" class="md-raised md-primary" ng-click="enviar()">Enviar</md-button>
            </div>
        </form>
    </md-content>

</div>