    <md-toolbar class="md-hue-2" ng-controller="comumToolbarCtrl">
        <div class="md-toolbar-tools" ng-controller="sidenavCtrl">

            <h2 flex md-truncate>Backstage Platform</h2>


            <md-button class="md-icon-button" aria-label="Botão de ajuda" ng-click="openHelpDialog($event)">
                <i class="material-icons">help</i>
            </md-button>
            <md-menu>
                <md-button class="md-icon-button" aria-label="Botão do menu de mais opções"
                           ng-click="openMenu($mdMenu,$event)">
                    <i class="material-icons">more_vert</i>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button>
                            Perfil
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            Configurações
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button>
                            Sair
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

        </div>
    </md-toolbar>