<div ng-controller="propostaMinhasCtrl" layout="column" class="md-block">
    <span class="md-headline">As minhas idéias</span>
    <md-divider></md-divider>
    <md-content layout-padding="">
        <form name="consultaUsuarioForm">

            <div flex="100">
                <md-input-container flex="100">
                    <label>Título</label>
                    <input md-maxlength="150" name="nome" ng-model="titulo">
                    <div ng-messages="consultaUsuarioForm.nome.$error">
                        <div ng-message="md-maxlength">O título é muito grande</div>
                    </div>
                </md-input-container>
            </div>


            <div>
                <md-button type="submit" class="md-raised md-primary" ng-click="buscar()">Pesquisar</md-button>
            </div>
        </form>


        <!--<div ng-repeat="us in users">{{us.nome}}</div>&lt;!&ndash;<div class="section"></div>&ndash;&gt;-->
        <md-progress-linear md-mode="indeterminate" ng-show="mostrarProgress"></md-progress-linear>
        <md-list class="md-block">
            <!--<md-list-item class="md-3-line" layout="row" layout-align="start center">-->
            <!--<div class="md-avatar" flex="25" flex-gt-md="10">-->
            <!--<md-button class="md-fab ">-->
            <!--<md-icon><i class="material-icons">favorite</i></md-icon>-->
            <!--</md-button>-->
            <!--</div>-->
            <!--<div flex="75" flex-gt-md="90" class="md-list-item-text secondary-button-padding" layout="column" ng-click="null">-->
            <!--<h3>Testsssssssssssssssssssssssssssssssse</h3>-->
            <!--<h4>BLA BLA bssssssssssssssssssssssssssssssssssssssssssssla</h4>-->
            <!--<p>por: Marcio</p>-->
            <!--</div>-->
            <!--</md-list-item>-->
            <md-list-item class="md-2-line" ng-repeat="proposta in propostas">
                <div class="md-list-item-text" layout="column" ng-click="null">
                    <h3>{{ proposta.titulo}}</h3>
                    <p>Votos: {{ proposta.contagem }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
<!--paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,50]}"-->
<!--mdt-row-paginator="paginatorCallback(page, pageSize)"-->

<!--<mdt-table-->

<!--mdt-row-paginator-error-message="Um erro ocorreu enquanto carregávamos."-->
<!--mdt-row="{-->
<!--'table-row-id-key': 'users.id',-->
<!--'column-keys': [-->
<!--'users.nome',-->
<!--'users.email'-->
<!--],-->
<!--}">-->
<!--<mdt-header-row>-->
<!--<mdt-column align-rule="left">Nome</mdt-column>-->
<!--<mdt-column align-rule="right">E-mail</mdt-column>-->
<!--</mdt-header-row>-->
<!--</mdt-table>-->

<!--<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{users.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>-->
<!--<div class="row">-->
<!--<form class="col s12">-->
<!--<div class="row">-->
<!--<div class="input-field col s6">-->
<!--<input id="first_name" type="text">-->
<!--<label for="first_name">Nome</label>-->
<!--</div>-->
<!--<div class="input-field col s6">-->
<!--<input id="email" type="email">-->
<!--<label for="email">Email</label>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--<button class="waves-effect waves-light btn right">-->
<!--<i class="material-icons right">search</i>-->
<!--Pesquisar</button>-->

<!--</div>-->
<!--<div class="section"></div>-->
<!--<table class="responsive">-->
<!--<thead>-->
<!--<tr>-->
<!--<th>Name</th>-->
<!--<th>Item Name</th>-->
<!--<th>Item Price</th>-->
<!--</tr>-->
<!--</thead>-->

<!--<tbody>-->
<!--<tr>-->
<!--<td>Alvin</td>-->
<!--<td>Eclair</td>-->
<!--<td>$0.87</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Alan</td>-->
<!--<td>Jellybean</td>-->
<!--<td>$3.76</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>Jonathan</td>-->
<!--<td>Lollipop</td>-->
<!--<td>$7.00</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->