<div layout="column" ng-cloak >
    <md-content layout-padding="">
        <form name="formUpdateUsuario">
            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="60">
                    <label>Nome</label>
                    <input md-maxlength="80" required name="usuario.nome" ng-model="nome">
                    <div ng-messages="formUpdateUsuario.nome.$error">
                        <div ng-message="required">O nome é requirido.</div>
                        <div ng-message="md-maxlength">O nome não pode conter mais que 80 caracteres.</div>
                    </div>
                </md-input-container>

                <md-input-container flex-gt-sm="40">
                    <label>E-mail</label>
                    <input md-maxlength="100" md-minlength="10" required type="email" name="email"
                           ng-model="usuario.email"
                           minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>

                    <div ng-messages="formUpdateUsuario.email.$error" role="alert">
                        <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                            Um e-mail tem que se parecer com um e-mail e ter entre 10 e 100 caracteres.
                        </div>
                    </div>

                </md-input-container>
            </div>

            <div layout-gt-sm="row">
                <md-input-container flex-gt-sm="40">
                    <label>Senha</label>
                    <input required type="password" name="senha" ng-model="usuario.senha">
                    <div ng-messages="formUpdateUsuario.senha.$error">
                        <div ng-message="required">A senha é requerida.</div>
                    </div>
                </md-input-container>
                <md-input-container flex-gt-sm="25">
                    <label>Nível</label>
                    <md-select name="nivel" ng-model="usuario.nivel" required>
                        <!--NG-REPEAT AQUI PARA FAZER OS NIVEIS-->
                        <md-option value="1" selected="">Comum</md-option>
                        <md-option value="2">Programador</md-option>
                        <md-option value="3">Tutor</md-option>
                        <md-option value="4">Administrador</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex-gt-sm="35">
                    <label>Matrícula</label>
                    <input name="matricula" ng-model="usuario.matricula">
                </md-input-container>

            </div>
            <md-input-container class="md-block">
                <md-checkbox name="tos" required>
                    Eu aceito com os termos de serviço.
                </md-checkbox>
                <div ng-messages="formUpdateUsuario.tos.$error" multiple md-auto-hide="false">
                    <div ng-message="required">
                        Os termos devem ser aceitos.
                    </div>
                </div>
            </md-input-container>

            <div>
                <md-button type="submit" ng-click="teste()">Enviar</md-button>
            </div>
        </form>
    </md-content>

</div>