<md-content  ng-controller="usuarioLoginCtrl" flex="100"
             layout="column" layout-align="center center"
             layout-padding="layout-padding" ng-cloak="ng-cloak"
             class="login-form">
<md-card flex="50">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Backstage login</span></h2>
        </div>
    </md-toolbar>
    <md-card-content>
        <form name="Form">
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" name="login" ng-model="login" placeholder="E-mail" required=""/>
                <div ng-messages="Form.email.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your email.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input type="password" name="password" ng-model="senha" placeholder="password" required="" md-maxlength="16"/>
                <div ng-messages="Form.password.$error" role="alert" multiple="">
                    <div ng-message="required" class="my-message">Please enter your password.</div>
                    <div ng-message="md-maxlength" class="my-message">Too long.</div>
                </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click="logar()" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
        </form>
    </md-card-content>
</md-card>
    <a ui-sref="criar-conta">Criar conta!</a>
</md-content>