<md-content>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" ng-controller="sidenavCtrl">
            <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings" hide-gt-md="">
                <i class="material-icons">menu</i>
            </md-button>

            <h2 flex md-truncate>Backstage Platform</h2>


            <md-button class="md-icon-button" aria-label="Favorite">
                <i class="material-icons">help</i>
            </md-button>

            <md-button class="md-icon-button" aria-label="More">
                <i class="material-icons">more_vert</i>
            </md-button>
        </div>
    </md-toolbar>
</md-content>